// @import 'scss/main.scss';
@import '../../../../../scss/main.scss';

.button {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  flex: 1;
  background-color: $chefdOrange;
  font-family: 'Verlag-XLight';
  font-size: 20px;
  line-height: 24px;
  height: 60px;
  padding: 0 15px;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;

  &:not(:last-child) {
    margin-right: 20px;
  }
}

.servings,
.price {
  font-family: 'Verlag-Light';
  margin: 0 5px;
}

.addToCart {
  display: block;
}
