// Theme
$chefdOrange: rgb(253, 103, 33);

// Grays
$darkGray: rgb(78, 78, 78);
// $navDarkGray: rgb(36, 36, 36) // main nav...
$mediumGray: rgb(166, 166, 166); // chef, net carbs
// $navMediumGray: rgb(155, 155, 155); // top left nav...
$lightGray: rgb(202, 201, 199); // favorites count

// Whites
$white: rgb(255, 255, 255);
$fadedWhite: rgba(255, 255, 255, 0.7);
